.card{
    color: white;
    background-color: #009688;
}

.card a{
    color: #6200ee
}

.card i{
    color: white
}

.card .card-img-top{
    height: 400px;
}

.card .card-content{
    height: 160px;
}

.card .card-action{
    padding: 20px;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
}

.card .card-title{
    margin-bottom: .75rem;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

.card .card-text{
    margin-bottom: 0;
    padding-left: 5px;
}

.card .card-action a{
    font-size: 15px;
    color: #ffab40;
    text-transform:uppercase;
    margin-right: 20px;    
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.card .card-action a:hover{    
    color:#ffd8a6;
    text-decoration:none;
}

.card .card-reveal{    
    padding: 20px;
    position: absolute;
    width: 100%;
    overflow-y: auto;
    left:0;
    bottom:0;
    height: 100%;
    z-index: 1;
    display: none;    
}

.card .card-reveal .card-title {
    margin: 20px
}

.card .card-reveal p{
    margin:20px ;
}
