doctype html
html(lang='en')
  head
    include ./head.pug
    title Krish De Souza - About
  body
    include ./navbar
    +navbar
      li.nav-item
        a.nav-link(href='#') Blog
      li.nav-item.active
        a.nav-link(href='#') About
      li.nav-item
        a.nav-link(href='/projects') Projects
    .about-header.mt-3.mx-auto
      .container
        .row
          .col-12.col-md-7.col-lg-9.align-self-center
            h1 About myself
            table.table
              tbody
                tr
                  th
                    | Name
                  td
                    | Krish De Souza
                tr
                  th
                    | Email
                  td
                    | kd913-blog@Outlook.com
            p
              | Hello. Welcome to my blog.
              br
              br
              | This is my personal sandbox where I document some of the cool things I discover.
            p
              | I am a young software developer working as an automation
              | test engineer at SolarFlare Ltd, Cambridge. This is after
              | graduating from Imperial College London. After completing my studies,
              | I am eager to learn and apply my skills
              | to contribute back to the wider community.
            p
              | Currently, I am expanding my soft skills.
              | At the moment, I have a 240 day streak on duolingo for 
              a(href='https://www.duolingo.com/kedstar99') Portuguese
              | . I am also actively pursuing a
              | drivers license. This is in addition to a 
              | variety of personal projects including this website. 
              | It is currently being prototyped
              | using Actix-Web, Pug and  Bootstrap.
            p
              | If you would like to contact me, please feel free to send an email above or send a message on LinkedIn.
              | For those who wish to speak privately, my PGP public key and email can be found 
              a(href='https://pgp.mit.edu/pks/lookup?op=vindex&search=0x2D54CBF1F5285B70') here
              | .
              br
              br
              | Thank you for taking the time to visit my site and I hope that you will visit again sometime.
          .col-12.col-md-5.col-lg-3.justify-content-center.mb-2.d-flex
            img.img-fluid.mx-auto.d-block.align-self-center(src='/images/myself.webp', alt='Krish Self Portrait')
      .container
        h1 Technical Skills
      .container
        p
          | So far, I have acquired experience across variety of languages and technical stacks. This
          | includes C, C++, Java, Rust,
          | Javascript and Python. I am also familiar with Haskell and Prolog.
        p
          | In terms of database languages, I have utilised and trained to use MongoDB, PostgreSQL, Redis and Neo4J. Each
          | have been used in a variety of stacks. A lot of the web projects listed on the project part of this website
          | were constructed to utilise these technologies.
        p
          | I have also gained some experience designing web sites using NodeJs and Express. I am also somewhat familiar
          | with HTML5, Pug/Jade, CSS/SCSS. Front end web design is a rapidly evolving space that I am eager to learn.
          | In particular, I am currently following the current advancements of WebAssembly.
        p
          | Other technical skills I have acquired includes some proficiency in various scripting and build languages.
          | These I have used to benefit the wider community by contributing to various projects including ckb-next, proton, and vlc.
          | If you want to learn more about some of these skills, please feel free to puruse some of the projects I have contributed to. 
          | Some of hese can be found 
          a(href='/projects') here 
          | .
      .container
        h1 Experience
      .container
        #experienceAccordion.accordion
          .card
            #headingOne.card-header
              h5.mb-0
                button.btn.btn-link.text-left(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                  i.fas.fa-industry.fa-lg
                  |  SolarFlare
                  br
                  | (May 15th 2018 - Present)
            #collapseOne.collapse(aria-labelledby='headingOne', data-parent='#experienceAccordion')
              .card-body
                p
                  | Since May of 2018, I have been working as an automation engineer at SolarFlare. My role at the
                  | company is primarily to aid in the development of Runbench. This is a large internal tool which 
                  | is designed to automate and stress the capabilities of the NICs within the company.
                  | So far, I have managed to accomplish some success within the company. This includes
                  | the following:
                ul.mt-3
                  li
                    | Managed to improve/introduce unit test coverage by 50%. Also introduced a Docker mechanism for
                    | enabling unit test coverage of specific system environments.
                  li
                    | Responsible for redesigning and documenting the test RxeqNewRunbench. This test was designed
                    | primarily to check compatability of a pair of NICs with various cables
                    | and switches. Without this test, the company would not have been able to make the 18.2 target.
                  li Responsible for testing the UEFI capabilities and modules for the NIC.
                  li
                    | Improved the documentation practices within the company by introducing sharelatex company wide.
                  li Improved the house network website bandwidth by 50%.
          .card
            #headingTwo.card-header
              h5.mb-0
                button.btn.btn-link.collapsed.text-left(type='button', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                  i.fas.fa-industry.fa-lg
                  |  6 month Placement
                  br
                  | (April-September 2016)
            #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#experienceAccordion')
              .card-body
                p
                  | As part of my course, I was required to partake in a 6 month placement in industry. For these 6
                  | months, I worked at a security company present in London.
                  | This experience was enriching as I had the opportunity to build a variety of projects for the
                  | company. This includes the following projects:
                ul.mt-3
                  li
                    | The first project that I was responsible for was designing a customer portal.
                    | This portal had some unique security requirements as it needed to serve the company's protected IP. 
                    | For this project, I made use of various web tools including Bootstrap, NodeJS + Express and PostgreSQL.
                    | These were all hosted in a microservice system spread across various ESXi VMs. This project
                    | presented some interesting challenges in regards to client and server side authentication.
                  li
                    | The second project undertaken at the company was a project designed to monitor and authenticate
                    | users based on keyboard patterns. This project was a useful experience
                    | in exploring some various debugging capabilities within Linux. For example, I learnt how to create
                    | and utilise shared libraries and LD_PRELOAD. Similar capabilities
                    | were explored using strace and ptrace.
                    | In addition, this task was useful for learning how to build projects that integrate with wider and
                    | larger projects. For example, I learnt how to use scons,
                    | the capabilities of named pipes in Linux and various challenges with serializing and deserializing
                    | data between C/C++. Additionally, I learnt how to use
                    | Google's C++ test framework to express the effectiveness of my program.
                    | Similarly, this project made extensive use of pthreads which gave a unique insight into how to
                    | design and overcome concurrency issues within C/C++.
                  li
                    | The third and final project was to improve a internal time-tracking utility used within the
                    | company. The program was designed in C# on Windows so gave some
                    | unique perspectives and challenges which I hadn't faced before. I improved the code base by adding
                    | additional functionality such as checking whether a
                    | user is away from the keyboard. I also learned how to design UIs in XAML/WPF.
                p
                  | For more information about this internship, please contact me personally for references.
      .container.mt-3
        h1 Education
      .container
        #educationAccordion.accordion
          .card
            #headingThree.card-header
              h5.mb-0
                button.btn.btn-link.text-left(type='button', data-toggle='collapse', data-target='#collapseThree', aria-expanded='true', aria-controls='collapseThree')
                  i.fas.fa-university.fa-lg
                  |  Imperial College London
                  br
                  | Meng Sofware Engineering G600
                  br
                  | (2013-2017)
            #collapseThree.collapse(aria-labelledby='headingThree', data-parent='#educationAccordion')
              .card-body
                | Successfully completed my MEng course in Software Engineering with a
                | 2:i. Below are some of the prizes I was awarded.
                ul.mt-3
                  li
                    | Awarded the Management and Business for Computing Engineers Second Prize for successfully leading a
                    | group of 7 to develop a business plan and presentation.
                  li
                    | I was also awarded the Corporate Partnership Programme Award for outstanding achievement in my
                    | Individual project. My thesis can currently be found on the department
                    a(href='http://www.imperial.ac.uk/computing/prospective-students/distinguished-projects/ug-prizes/archive/')
                    | website
                    | under the academic year 2016-17.
                    | Below are the list of courses that I studied during my time at Imperial.
                table.table
                  thead
                    tr
                      th(scope='col') Year
                      th(scope='col') Course
                  tbody
                    tr
                      th(scope='row') 1
                      td
                        | Programming I (Haskell), Programming II (Java), Programming III (C), Computer Architecture,
                        | Computer Hardware, Databases, Logic, Reasoning About Programming, Discrete Maths, Mathematic
                        | Methods, Ethics of Computing, Logic
                    tr
                      th(scope='row') 2
                      td
                        | Software Engineering Algorithms, Human Centered Design, Computer Architecture II, Operating
                        | Systems, Networks and Communications, Software Engineering Design, Compilers, COncurrency, Intro
                        | to AI, Models of Computation, Statistics, Into to C++, Intro to Prolog
                    tr
                      th(scope='row') 3
                      td
                        | Business for Computing Engineers, Advanced Databases, Graphics I, Network and Web Security,
                        | Simulation and Modeling, Bioinformatics, Information Theory & Codes, Software Engineering II
                    tr
                      th(scope='row') 4
                      td
                        | Privacy Enhancing Techniques, Cryptographic Engineering, Large Scale Data Management, Advanced
                        | Computer Graphics, Complexity, Software Reliability, Software Engineering III, Knowledge
                        | Representation
          .card
            #headingFour.card-header
              h5.mb-0
                button.btn.btn-link.collapsed.text-left(type='button', data-toggle='collapse', data-target='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
                  i.fas.fa-school.fa-lg
                  |  Leicester Grammar School
                  br
                  | (2001-2013)
            #collapseFour.collapse(aria-labelledby='headingFour', data-parent='#educationAccordion')
              .card-body
                p
                  | At school, I achieved A*AAA in my A-levels in Maths, FurtherMaths, Physics and Chemistry. I also achieved
                  | 2A*, 6As and 2Bs for my GCSEs.
                  br
                  | At school, I pursued various sports including Badminton, Rugby, Cricket. I also helped build a
                  | Caterham 7 as part of the kitcar society.
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    include ./footer.pug
